[submodule "node_modules/connect"]
	path = node_modules/connect
	url = https://github.com/ajaxorg/connect.git
[submodule "node_modules/asyncjs"]
	path = node_modules/asyncjs
	url = https://github.com/ajaxorg/async.js.git
[submodule "node_modules/jsdav"]
	path = node_modules/jsdav
	url = https://github.com/ajaxorg/jsDAV.git
[submodule "node_modules/lib-v8debug"]
	path = node_modules/lib-v8debug
	url = https://github.com/ajaxorg/lib-v8debug.git
[submodule "node_modules/ace"]
	path = node_modules/ace
	url = https://github.com/ajaxorg/ace.git
[submodule "node_modules/apf"]
	path = node_modules/apf
	url = https://github.com/ajaxorg/apf.git
[submodule "support/node-builds-v4"]
	path = support/node-builds-v4
	url = https://github.com/ajaxorg/node-builds-v4.git
[submodule "node_modules/gnu-builds"]
	path = node_modules/gnu-builds
	url = https://github.com/ajaxorg/gnu-builds.git
[submodule "node_modules/socket.io"]
	path = node_modules/socket.io
	url = https://github.com/ajaxorg/socket.io.git
[submodule "node_modules/socket.io-client"]
	path = node_modules/socket.io-client
	url = https://github.com/ajaxorg/socket.io-client.git
[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = https://github.com/ajaxorg/UglifyJS.git
[submodule "node_modules/treehugger"]
	path = node_modules/treehugger
	url = git://github.com/ajaxorg/treehugger.git
